// Hostname for server
hostname "{{ hostname }}"

// RCON - remote console password.
rcon_password "{{ rcon_password }}"

// Server password - for private servers.
sv_password "{{ server_password }}"

// Server Logging
log on
sv_logbans 1
sv_logecho 1
sv_logfile 1
sv_log_onefile 0

// Server Hibernation
sv_hibernate_when_empty 0
sv_hibernate_ms 6

// Server Query
// More info at: https://www.gametracker.com/games/csgo/forum.php?thread=91691
host_name_store 1
host_info_show 1
host_players_show 2

// SGL parameters
sv_dc_friends_reqd 0
sv_gameinstructor_disable 1

mp_logdetail 3

// Performance
sv_alternateticks 0
sv_clockcorrection_msecs 15
sv_minrate 5000
sv_maxcmdrate 128
sv_lan 0
sv_deadtalk 0
sv_alltalk 0
sv_cheats 0
sv_allow_votes 0
sv_pure 1
sv_pausable 1
sv_maxrate 0

// Gameplay
sv_competitive_minspec 1
mp_startmoney 800
mp_roundtime 1.92
mp_buytime 20
mp_freezetime 12
mp_maxrounds 30
mp_c4timer 40
mp_tkpunish 0
mp_death_drop_defuser 1
mp_death_drop_grenade 2
mp_death_drop_gun 1
mp_maxmoney 16000
mp_halftime_duration 30

bot_quota "0"

ammo_grenade_limit_default 1
ammo_grenade_limit_flashbang 2
ammo_grenade_limit_total 4

sv_competitive_official_5v5 1
mp_autokick 0

sv_holiday_mode 0
sv_damage_print_enable 0

mp_warumtime 300
mp_spectators_max 0

// SGL Go TV
tv_allow_camera_man 0 //Auto director allows spectators to become camera man
tv_allow_static_shots 1 //Auto director uses fixed level cameras for shots
tv_autorecord 1 //Automatically records all games as GOTV demos.
tv_chatgroupsize 0 //Set the default chat group size
tv_chattimelimit 8 //Limits spectators to chat only every n seconds
tv_debug 0 //GOTV debug info.
tv_delay 120 //GOTV broadcast delay in seconds
tv_delaymapchange 1 //Delays map change until broadcast is complete
tv_deltacache 2 //Enable delta entity bit stream cache
tv_dispatchmode 1 //Dispatch clients to relay proxies: 0=never, 1=if appropriate, 2=always
tv_enable 1 //Activates GOTV on server.
tv_maxclients 10 //Maximum client number on GOTV server.
tv_maxrate 20000 //Max GOTV spectator bandwidth rate allowed, 0 == unlimited
tv_name "SGL17 {{ hostname }} - GOTV" //GOTV host name
tv_nochat 1 //Don't receive chat messages from other GOTV spectators
tv_overridemaster 0 //Overrides the GOTV master root address.
tv_port {{ sourcetv_port }} //Host SourceTV port
tv_relaypassword "{{ gotv_relay_password }}" //GOTV password for relay proxies
tv_relayvoice 0 //Relay voice data: 0=off, 1=on
tv_snapshotrate 24 //Snapshots broadcasted per second
tv_timeout 60 //GOTV connection timeout in seconds.
tv_title "SGL17 - {{ hostname }} - GOTV" //Set title for GOTV spectator UI
tv_transmitall 1 //Transmit all entities (not only director view)

exec banned_user.cfg
exec banned_ip.cfg
writeid
writeip
